import /init.recovery.metroid.crypto.rc

on early-init
    setprop sys.usb.configfs 1
    wait /sys/fs/selinux/enforce
    write /sys/fs/selinux/enforce 0
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1
    chmod 0755 /system/bin/servicemanager_a16

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller a600000.dwc3
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard
    symlink /proc/self/fd/0 /dev/stdin
    symlink /proc/self/fd/1 /dev/stdout
    symlink /proc/self/fd/2 /dev/stderr
    mkdir /vendor 0755 root shell
    mkdir /vendor/firmware_mnt 0771 system system
    mkdir /vendor/firmware 0755 root shell
    mkdir /vendor/dsp 0755 root shell
    mkdir /tmp/metroid-firmware 0755 root shell
    symlink /tmp/metroid-firmware /firmware

on property:ro.boot.usbcontroller=*
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode peripheral
    wait /sys/class/udc/${ro.boot.usbcontroller} 1

on fs
    wait /dev/block/platform/soc/1d84000.ufshc
    symlink /dev/block/platform/soc/1d84000.ufshc /dev/block/bootdevice
    mkdir /persist 0771 system system
    mount ext4 /dev/block/bootdevice/by-name/persist /persist noatime nosuid nodev
    restorecon_recursive /persist
    chmod 0755 /of_usbdbg.sh
    chmod 0755 /system/bin/metroid-bootlog.sh
    chmod 0755 /system/bin/metroid-crypto-init.sh
    chmod 0755 /system/bin/metroid-fbe-monitor.sh
    chmod 0755 /system/bin/metroid-haptics-init.sh
    chmod 0755 /system/bin/metroid-keymint-prepare.sh
    chmod 0755 /system/bin/metroid-platform-init.sh
    write /persist/of_early_marker "reached-on-fs"
    start of_usbdbg
    start metroid-platform-prepare
    start metroid-vendor-prepare

service of_usbdbg /system/bin/sh /of_usbdbg.sh
    disabled
    oneshot
    user root
    group root
    seclabel u:r:recovery:s0

service metroid-bootlog /system/bin/sh /system/bin/metroid-bootlog.sh
    disabled
    oneshot
    user root
    group root
    seclabel u:r:recovery:s0

service metroid-platform-prepare /system/bin/sh /system/bin/metroid-platform-init.sh
    class core
    disabled
    oneshot
    user root
    group root system
    seclabel u:r:recovery:s0
